<!DOCTYPE html>
<html lang="en">
<head>
    <div id="title-box">
        <h1 id="title">
          Py-Helpdesk
        </h1>
        <p id="description">
          Enter your ticket below:
        </p>
      </div>
</head>

<body>
      <form id="new-ticket">
    
        <div class="row">
          <div class="label">
            <label id="name-label">Contact Name:
          </label>
          </div>
          <div class="input-column">
            <input name="name" id="name" type="text" Placeholder="Enter name..." class="input-box" required>
          </div>
        </div>
    
        <div class="row">
          <div class="label">
            <label id="email-label">Email:
          </label>
          </div>
          <div class="input-column">
            <input name="email" id="email" type="email" Placeholder="Enter email..." class="input-box" required>
          </div>
        </div>
    
        <div class="row">
          <div class="label">
            <label id="number-label">Phone Number:
          </label>
          </div>
          <div class="input-column">
            <input name="number" id="number" type="text" Placeholder="Enter contact number..." class="input-box" required> </div>
        </div>
          <textarea id="comments" class="comment-field" style="height:100px; width: 300px; resize:vertical;" name="comment" placeholder="Explain other here..."></textarea>
        </div>
    
        <div class="row">
          <button id="submit" type="submit">Submit</button>
        </div>
    
      </form>
    </body>
</html>